header {
    background-color: #000000; 
}

.header-titre {
    opacity:1;
    letter-spacing:normal;
    color:rgba(255,255,255,1);
    font-family:MonImpact;
    font-size:36px;
    text-shadow:6px 2px 4px rgba(255,58,221,1);
    padding-top: 40px;
}

.header-titre:hover {
    cursor:alias
}

.header-categorie {
    opacity:1;
    color:rgba(255,255,255,1);
    font-family:MonImpact;
    font-size:18px;
    mix-blend-mode:normal;
    padding-top: 60px;
    text-align: center;
}

.header-categorie:hover {
  text-shadow:6px 2px 4px rgba(255,58,221,1);
    cursor:alias
}


.header-drop {
    opacity:1;
    color:rgba(255,255,255,1);
    font-family:MonImpact;
    font-size:16px;
    mix-blend-mode:normal;
    padding-top: 50px;
    text-align: right
}

#nav-dropdown{
    color: white;
}
