.general-members {
    align-content: center;
    margin-top: 6%;
    margin-bottom: 10%;
    height: 80%
}

.image-members {
   
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: block
}

.fleche{
    display: flex;
    align-items: center;
}

.fleche:hover {
    transform: scale(1.2);
    cursor: alias
}

.texte-members {
    text-align: justify;
    color:rgba(255,255,255,1);
    font-family:MonImpact;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

h1.members {
    color:rgba(255,255,255,1);
    font-family:MonImpact;
    margin-bottom: 10px;
}

h2.members {
    color:rgba(255,255,255,1);
    font-family:MonImpact;
    margin-bottom: 10px;
    margin-top: 10%;
}

h4.members {
    color:rgba(255,255,255,1);
    font-family:MonImpact;
    margin-top: 20px;
}

h1:hover {
    text-shadow:6px 2px 4px rgba(255,58,221,1);
}

h4:hover {
  text-shadow:6px 2px 4px rgba(255,58,221,1);
    cursor:alias
}

.fleche-mobile {
    margin-top: 50px
}
